<h2>Accounts</h2>

<button type="button" class="btn btn-primary" (click)="openAddAccountDialog()">
  Add Account
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Account Name</th>
      <th scope="col">Account Type</th>
      <th scope="col">Description</th>
      <th scope="col">Active</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts">
      <td>{{ account.name }}</td>
      <td>{{ getAccountTypeNameById(account.typeId) }}</td>
      <td>{{ account.description }}</td>
      <td>{{ account.active }}</td>
      <td>
        <button
          class="btn btn-primary"
          title="Edit Account"
          (click)="openEditAccountDialog(account)"
        >
          Edit
        </button>
        <button
          class="btn btn-danger"
          title="Delete Account"
          (click)="openDeleteAccountDialog(account)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<pre>{{ closeResult }}</pre>
