table,
th,
td {
  border: 1px solid;
}

th {
  text-align: center;
  font-size: 20px;
}

td {
  text-align: justify;
}

table {
  width: 100%;
  margin: 0 auto;
}

.mat-cell {
  padding: 16px;
}

.mat-header-cell {
  padding-left: 16px;
}
th.mat-header-cell:first-of-type {
  padding-left: 16px;
}

.mat-cell:first-of-type {
  padding-left: 16px;
}

.mat-column-actions {
  width: 20pc;
  /* border-right: 1px solid currentColor;
  padding-right: 24px; */
  text-align: center;
}

/* .mat-cell:last-of-type {
  padding-right: 0px;
} */

/*
.mat-row {
  height: auto;
}


.mat-row.line > .columns:first-child {
  padding-left: 0;
}
.mat-row.line > .columns:last-child {
  padding-right: 0;
}
 */
