<h2>Account Types</h2>

<button
  type="button"
  class="btn btn-primary"
  (click)="openAddAccountTypeDialog()"
>
  Add AccountType
</button>

<!-- <mat-divider></mat-divider> -->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let accountType of accountTypes">
      <td>{{ accountType.name }}</td>
      <td>{{ accountType.description }}</td>
      <td>
        <button
          class="btn btn-primary"
          title="Edit AccountType"
          (click)="openEditAccountTypeDialog(accountType)"
        >
          Edit
        </button>
        <button
          class="btn btn-danger"
          title="Delete AccountType"
          (click)="openDeletedAccountTypeDialog(accountType)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<pre>{{ closeResult }}</pre>
