<h2>Transactions</h2>

<div class="form-floating">
  <select
    class="form-select"
    id="accountSelect"
    aria-label="Transaction for the account"
    [(ngModel)]="selectedAccount.accountId"
  >
    <option *ngFor="let account of accounts" [value]="account.accountId">
      {{ account.name }}
    </option>
  </select>
  <label for="accountSelect">Account</label>
</div>

<button
  type="button"
  class="btn btn-primary"
  (click)="openAddTransactionDialog()"
>
  Add Transaction
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">AccountFrom</th>
      <th scope="col">Amount</th>
      <th scope="col">AccountTo</th>
      <th scope="col">Memo</th>
      <th scope="col">Cathegory</th>
      <th scope="col">transferRefference</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.date }}</td>
      <td>{{ getAccountNameById(transaction.accountFrom) }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ getAccountNameById(transaction.accountTo) }}</td>
      <td>{{ transaction.memo }}</td>
      <td>{{ getCategorytFullName(transaction.categoryId) }}</td>
      <td>{{ transaction.transferTransactionId }}</td>
      <td>
        <button
          class="btn btn-primary"
          title="Edit AccountType"
          (click)="openEditTransactionDialog(transaction)"
        >
          Edit
        </button>
        <button
          class="btn btn-danger"
          title="Delete AccountType"
          (click)="openDeleteTransactionDialog(transaction)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<pre>{{ closeResult }}</pre>
