<h2>Categories</h2>

<button type="button" class="btn btn-primary" (click)="openAddCategoryDialog()">
  Add Cathegory
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Parent</th>
      <th scope="col">Description</th>
      <th scope="col">Expence</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>{{ category.name }}</td>
      <td>{{ getCategorytParentName(category) }}</td>
      <td>{{ category.description }}</td>
      <td>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="category.expence"
            id="flexCheckChecked"
            disabled="true"
          />
        </div>
      </td>
      <td>
        <button
          class="btn btn-primary"
          title="Edit AccountType"
          (click)="openEditCategoryDialog(category)"
        >
          Edit
        </button>
        <button
          class="btn btn-danger"
          title="Delete AccountType"
          (click)="openDeleteCategoryDialog(category)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<pre>{{ closeResult }}</pre>
